<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ renderData.title or title or metadata.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Description" content="{{ renderData.description or description or metadata.description }}">
		<link rel="stylesheet" href={% mainCssBundle %}>

	</head>
	<body>
		{% include "../components/main.njk"%}

	</body>
	<script src={% mainJsBundle %}></script>
</html>
