---
layout: default

---

<div class="content">

	<h1 class="text-3xl">Minimalistic 11ty Tailwind Webpack starter</h1>
	<br/>
	<h2 class="text-3xl">Features</h2>

	<ul class="mb-12 list-disc pl-4">
		<li>Build sites faster with the power of Eleventy, TailwindCSS and Webpack</li>
		<li>Webpack to watch, concatenate and compile styles and scripts</li>
		<li>SCSS support to integrate Tailwind with other vendor stylesheets</li>
		<li>Purgecss to remove any unused CSS</li>
		<li>ES6 support with Babel</li>
		<li>HTML minifier</li>
		<li>Production scripts for cache-busting</li>
	</ul>

	<h2 class="text-3xl">Want to give it a spin?</h2>

	<a href="https://github.com/vktrwlt/11ty-tailwind-webpack-starter" class="btn btn-blue">Get Started</a>
</div>
